.container {
    width: 800px;
    margin: 0 auto 0 auto;
    text-align: left;
}

.list {
    width: 20%;
    float: left;
}

.box {
    width: 70%;
    float: left;
    text-align: center;
}

img {
    max-width: 100%;
}

